# {{ ansible_managed }}
###################################
######## Instance Settings ########
###################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance
port="{{ csgo_port }}"
clientport="{{ csgo_clientport }}"
sourcetvport="{{ csgo_sourcetvport }}"
gametype="{{ csgo_gametype }}" # def: 0
gamemode="{{ csgo_gametype }}" # def: 1
tickrate="{{ csgo_tickrate }}" # def: 128
maxplayers="{{ csgo_maxplayers }}" # def: 11
gslt="{{ csgo_gslt }}"

